<% if bike.kind_of?(Array) == true %>

  <% bike.each do |single| %>
    <div class="card-container">
      <div class="card-image">
      <% if single.posted != nil %>
        <%= image_tag single.posted, :height => '384', :width => '384' %>
      <% else %>
        <%= image_tag 'y-u-no-guy.jpg' %>
      <% end %>
      </div>
      <div class="card-info">
        <div class="card-title">
          <%= link_to single.title, single.url, :target => '_blank' %>
        </div>
        <div class="card-stats">
          $<%= single.price %>0
          <%= single.location %>
          <%= single.created_at.strftime("%b %d, %H:%M") %>
        </div>
      </div>
    </div>
  <% end %>

<% else %>

  <div class="card-container">
    <div class="card-image">
    <% if bike.posted != nil %>
      <%= image_tag bike.posted, :height => '384', :width => '384' %>
    <% else %>
      <%= image_tag 'y-u-no-guy.jpg' %>
    <% end %>
    </div>
    <div class="card-info">
      <div class="card-title">
        <%= link_to bike.title, bike.url, :target => '_blank' %>
      </div>
      <div class="card-stats">
        $<%= bike.price %>0
        <%= bike.location %>
        <%= bike.created_at.strftime("%b %d, %H:%M") %>
      </div>
    </div>
  </div>

<% end %>

