<% if bike.kind_of?(Array) == true %>

  <% bike.each do |single| %>
    <tr>
    <td>$<%= single.price %>0</td>
      <% if single.posted != nil %>
        <td><%= image_tag single.posted, :height => '200', :width => '200' %></td>
      <% else %>
        <td><%= image_tag 'y-u-no-guy.jpg' %></td>
      <% end %>

    <td><%= link_to single.title, single.url, :target => '_blank' %></td>
    <td><%= single.location %></td>
    <td><%= single.created_at.strftime("%b %d, %H:%M") %></td>
    </tr>
  <% end %>

<% else %>

  <tr>
  <td>$<%= bike.price %>0</td>
    <% if bike.posted != nil %>
      <td><%= image_tag bike.posted, :height => '200', :width => '200' %></td>
    <% else %>
      <td><%= image_tag 'y-u-no-guy.jpg' %></td>
    <% end %>

  <td><%= link_to bike.title, bike.url, :target => '_blank' %></td>
  <td><%= bike.location %></td>
  <td><%= bike.created_at.strftime("%b %d, %H:%M") %></td>
  </tr>

<% end %>
